{% extends 'base.html' %}
{% load static  %}

{% block content %}
<!-- ======= Achievements Section======= -->
<section id="achievements" class="achievements section-show">
  <div class="about-me container">

    <div class="section-title mb-4">
      <h2>Achievements</h2>
    </div>

    {% if achievements %}
      <div class="row mt-4 container">
        <div class="col-lg-7 content">
          {% for achievement in achievements %}
          <ul>
            <li><i class="bi bi-chevron-right"></i>{{ achievement }}</li>
          </ul>
          {% endfor %}
        </div>
      </div>
      {% endif %}

  </div>
</section> <!-- End Achievements Section -->
{% endblock %}