{% extends 'base.html' %}
{% load static i18n  %}

  {% block content %}
  <!-- ======= Index Section ======= -->
  <header id="header">
    <div class="container index">

      <h1 class="mb-4 ms-5">{{ doridoro.get_full_name }}</h1>
      <h2>
        {% blocktrans with profession=doridoro.profession|lower %}
          I'm a <span>{{ profession }}</span> from Germany, living in France.
        {% endblocktrans %}
      </h2>

      {% if facts %}
      <div class="row mt-4 container">
        <div class="col-lg-7 content">
          {% for fact in facts %}
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i>
              {% blocktrans %}{{ fact }}{% endblocktrans %}
            </li>
          </ul>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="social-links">
        {% for media in social_media %}
          {% if media.name == 'GitHub' %}<a href="{{ media.url }}" class="instagram"><i class="bi bi-github"></i></a>{% endif %}
          {% if media.name == 'LinkedIn' %}<a href="{{ media.url }}" class="linkedin"><i class="bi bi-linkedin"></i></a>{% endif %}
          {% if media.name == 'Dev articles' %}<a href="{{ media.url }}" class="linkedin"><i class="bi bi-dev"></i></a>{% endif %}
        {% endfor %}
      </div>

    </div>
  </header><!-- End Index Section -->
  {% endblock %}
