{% extends 'base.html' %}
{% load static i18n  %}

  {% block content %}
  <!-- ======= Index Section ======= -->
  <header id="header">
    <div class="container">

      <h1>{{ doridoro.get_full_name }}</h1>
      <h2>I'm a <span>{{ doridoro.profession|lower }}</span> from Germany, living in France.</h2>

      <div class="social-links">
        {% for media in social_media %}
        {% if media.name == 'GitHub' %}<a href="{{ media.url }}" class="instagram"><i class="bi bi-github"></i></a>{% endif %}
        {% if media.name == 'LinkedIn' %}<a href="{{ media.url }}" class="linkedin"><i class="bi bi-linkedin"></i></a>{% endif %}
        {% if media.name == 'Dev articles' %}<a href="{{ media.url }}" class="linkedin"><i class="bi bi-dev"></i></a>{% endif %}
        {% endfor %}
      </div>

    </div>
  </header><!-- End Index Section -->
  {% endblock %}
