{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume section-show">
  <div class="container">

    <div class="section-title">
      <h2>{% trans "Resume" %}</h2>
    </div>

    <div class="row">
        <div class="col-lg-6">
          {% if jobs_formation %}
            <h3 class="resume-title">{% trans "Education" %}</h3>
            {% include "partials/_resume_job.html" with jobs=jobs_formation %}
          {% endif %}
          {% if jobs_mentoring %}
            <h3 class="resume-title">{% trans "Mentoring" %}</h3>
            {% include "partials/_resume_job.html" with jobs=jobs_mentoring %}
          {% endif %}
        </div>
        {% if jobs_experience %}
          <div class="col-lg-6">
            <h3 class="resume-title">{% trans "Professional Experience" %}</h3>
            {% include "partials/_resume_job.html" with jobs=jobs_experience %}
          </div>
        {% endif %}


  </div>
</section><!-- End Resume Section -->
{% endblock %}
