{% extends 'base.html' %}
{% load i18n static %}

  {% block content %}
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume section-show">
    <div class="container">

      <div class="section-title">
        <h2>{% trans "Resume" %}</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          {% if jobs_formation %}
          <h3 class="resume-title">{% trans "Education" %}</h3>
          {% for job_f in jobs_formation %}
          <div class="resume-item">
            <h4>{{ job_f.position }}{% if job_f.company_name %} {% trans "at" %} {{ job_f.company_name }}{% endif %}</h4>
            <h5>{{ job_f.start_date|date:"M o" }} {% trans "to" %} {% if job_f.end_date %}{{ job_f.end_date|date:"M o" }}{% else %}{% trans "present" %}{% endif %}</h5>
            <p><em>{% if job_f.address %}{{ job_f.address }}{% endif %}</em></p>
            {{ job_f.description|safe }}
          </div>
          {% endfor %}
          {% endif %}

          {% if jobs_mentoring %}
          <h3 class="resume-title">{% trans "Mentoring" %}</h3>
          {% for job_m in jobs_mentoring %}
          <div class="resume-item">
            <h4>{{ job_m.position }}{% if job_m.company_name %} {% trans "at" %} {{ job_m.company_name }}{% endif %}</h4>
            <h5>{{ job_m.start_date|date:"M o" }} {% trans "to" %} {% if job_m.end_date %}{{ job_m.end_date|date:"M o" }}{% else %}{% trans "present" %}{% endif %}</h5>
            <p><em>{% if job_m.address %}{{ job_m.address }}{% endif %}</em></p>
            <p>{{ job_m.description|safe }}</p>
          </div>
          {% endfor %}
          {% endif %}
        </div>

        {% if jobs_experience %}
        <div class="col-lg-6">
          <h3 class="resume-title">{% trans "Professional Experience" %}</h3>
          {% for job_exp in jobs_experience %}
          <div class="resume-item">
            <h4>{{ job_exp.position }}{% if job_exp.company_name %} {% trans "at" %} {{ job_exp.company_name }}{% endif %}</h4>
            <h5>{{ job_exp.start_date|date:"M o" }} {% trans "to" %} {% if job_exp.end_date %}{{ job_exp.end_date|date:"M o" }}{% else %}{% trans "present" %}{% endif %}</h5>
            <p><em>{% if job_exp.address %}{{ job_exp.address }}{% endif %}</em></p>
            <p>{{ job_exp.description|safe }}</p>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>

    </div>
  </section><!-- End Resume Section -->
  {% endblock %}
