{% extends 'base.html' %}
{% load i18n static  %}

{% block content %}
<!-- ======= Skills ======= -->
<section id="about" class="about section-show">
  <div class="skills container">
    <div class="section-title mb-4">
      <h2>{% trans "Motto" %}</h2>
      <span>{% trans '"Bring organisation talent, programming skills and sometimes biscuits to work."' %}</span>
    </div>
    <div class="section-title">
      <h2>{% trans "Programming Skills" %}</h2>
    </div>
    <div class="row">
      {% for programming_skill in programming_skills_published %}
        <p class="skill">{{ programming_skill }}</p>
      {% endfor %}
    </div>
    <hr>
    <div class="section-title mt-5">
      <h2>{% trans "Other Skills" %}</h2>
    </div>
    <div class="row">
      {% for other_skill in other_skills_published %}
        <p class="skill">{{ other_skill }}</p>
      {% endfor %}
    </div>
    <hr>
    <div class="section-title mt-5">
      <h2>{% trans "Soft Skills" %}</h2>
    </div>
    <div class="row">
      {% for soft_skill in soft_skills %}
        <p class="skill">{{ soft_skill.0 }}</p>
      {% endfor %}
    </div>
    <hr>
    <div class="section-title mt-5">
      <h2>{% trans "Strength" %}</h2>
    </div>
    <div class="row">
      {% for s in strength %}
        <p class="skill">{{ s.0 }}</p>
      {% endfor %}
    </div>
    <hr>
    <div class="section-title mt-5">
      <h2>{% trans "Languages" %}</h2>
    </div>
    <div class="row">
    {% for language in languages %}
      <p class="skill">{{ language.0 }}: {{ language.1 }}</p>
    {% endfor %}
    </div>
    <hr>
    <div class="section-title mt-5">
      <h2>{% trans "My dream job" %}</h2>
    </div>
    <div class="row mx-4">
      <div class="col pt-4 pt-lg-0 content">
        <p>
          {{ doridoro|safe }}
        </p>
      </div>
    </div>
  </div>
</section><!-- End Skills Section -->
{% endblock %}
