black==26.3.1
django-modeltranslation==0.20.3
django-sitemaps==2.0.2
django-tinymce==5.0.0
Django==6.0.4
gunicorn==25.3.0
ipython==9.13.0
pillow==12.2.0
python-decouple==3.8
sentry-sdk==2.58.0
whitenoise==6.12.0
