{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!-- ======= Portfolio Section ======= -->
<section class="portfolio section-show">
  <div class="container">
    <div class="section-title">
      <h2>{% trans "Portfolio" %}</h2>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="page-filters">
          <li data-filter="*" class="filter-active">{% trans "All" %}</li>
          <li data-filter=".filter-OPENCLASSROOMS_PROJECT">{% trans "OpenClassrooms Project" %}
          </li>
          <li data-filter=".filter-PERSONAL_PROJECT">{% trans "Personal Project" %}</li>
        </ul>
      </div>
    </div>

    {% if projects %}
    <div class="row page-container">
      {% for project in projects %}
        {% for picture in project.project_picture.all %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.tags }}">
          <div class="portfolio-wrap">
            <img src="{{ picture.photo.url }}" class="img-fluid custom-img" alt="{{ picture.photo.legend }}">
            <div class="page-info">
              <h4>{{ project.title }}</h4>
              <p>{{ project.tags }}</p>
              <div class="portfolio-links">
                <a href="{{ project.get_absolute_url }}"
                   title="{{ project.title }}">
                  <i class="bx bx-link"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section><!-- End Portfolio Section -->
{% endblock %}
