{% extends 'base.html' %}
{% load i18n static %}

{% block title %} - Portfolio Detail {% endblock %}

  {% block content %}
  <!-- ======= Portfolio Details ======= -->
    <section class="details-page section-show">
      <div class="container">
        <div class="section-title section-title-header">
          <h2>{{ project.tag_display }}</h2>
          <a href="{% url 'projects:portfolio' %}"><i class="ri-close-large-fill"></i></a>
        </div>
        <div class="row">
          <div class="page-info">
            <h3>{{ project.name }}</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-5">
            <div class="portfolio-details-slider">
              <div class="align-items-center">
                <div class="swiper-slide">
                  {% if project.picture %}<img src="{{ project.picture.url }}" alt="{{ project.picture.legend }}">{% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7 page-info">
            <h3>{% trans "Project information" %}</h3>
            <ul class="mx-4">
              {% if project.links_list %}
                <li>
                  <strong>{% trans "GitHub URL" %}:</strong>
                  {% for link in project.links_list %}
                    <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                  {% endfor %}
                </li>
              {% endif %}
              <li><strong>{% trans "create date" %}:</strong> {{ project.create_date }}</li>
              {% if project.evaluation_date %}
                <li><strong>{% trans "evaluation date" %}:</strong> {{ project.evaluation_date }}</li>
              {% endif %}
              <li class="skill-container"><strong>{% trans "Skills" %}:</strong>
                <div class="row">
                  {% for skill in project.skills.all %}
                    <p class="skill">{{ skill.name }}</p>
                  {% endfor %}
                </div>
              </li>
            </ul>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="section-title">
            <h2>{% trans "Introduction" %}</h2>
          </div>
          <p>{{ project.introduction|safe }}</p>
          <hr>
          <div class="section-title">
            <h2>{% trans "Competences" %}</h2>
          </div>
          <p>{{ project.skill_set|safe }}</p>
          <hr>
          <div class="section-title">
            <h2>{% trans "Learning Experience" %}</h2>
          </div>
          <p>{{ project.experience|safe }}</p>
          {% if project.future %}
            <hr>
            <div class="section-title">
              <h2>{% trans "Implementations in the future" %}</h2>
            </div>
            <p>{{ project.future|safe }}</p>
          {% endif %}
        </div>
      </div>
    </section><!-- End Portfolio Details -->
  {% endblock %}
